@import url('./fonts.css');
@import 'flag-icons/css/flag-icons.min.css';

:root {
    /* Alkalami */
    --alkalami-reg: 'Alkalami-Regular';

    /* AndadaPro */
    --andada-reg: 'AndadaPro-Regular';
    --andada-med: 'AndadaPro-Medium';
    --andada-semibold: 'AndadaPro-SemiBold';
    --andada-bold: 'AndadaPro-Bold';
    --andada-extrabold: 'AndadaPro-ExtraBold';

    /* Barlow */
    --barlow-reg: 'Barlow-Regular';
    --barlow-semibold: 'Barlow-SemiBold';
    --barlow-bold: 'Barlow-Bold';
    --barlow-extrabold: 'Barlow-ExtraBold';

    --bg-main-admin: #100b18;
    --bg-navbar-admin: #100b18;
    --bg-card-admin: rgba(255, 255, 255, 0.05);
    --border-card-admin: rgba(255, 255, 255, 0.10);
    --border-card-admin-hover: rgba(255, 255, 255, 0.20);
}

/* Alkalami */
.font-alkalami-reg { font-family: var(--alkalami-reg), serif; }

/* AndadaPro */
.font-andada-reg { font-family: var(--andada-reg), serif; }
.font-andada-med { font-family: var(--andada-med), serif; }
.font-andada-semibold { font-family: var(--andada-semibold), serif; }
.font-andada-bold { font-family: var(--andada-bold), serif; }
.font-andada-extrabold { font-family: var(--andada-extrabold), serif; }

/* Barlow */
.font-barlow-reg { font-family: var(--barlow-reg), sans-serif; }
.font-barlow-semibold { font-family: var(--barlow-semibold), sans-serif; }
.font-barlow-bold { font-family: var(--barlow-bold), sans-serif; }
.font-barlow-extrabold { font-family: var(--barlow-extrabold), sans-serif; }

.btn-white { background-color: white; color: black;}
.badge-white { background-color: white; color: black;}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--barlow-reg);
}

header {
  a {
    letter-spacing: 0.05rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--andada-semibold);
  letter-spacing: 0.02rem;
}


button {
  font-family: var(--andada-bold);
  letter-spacing: 0.02rem;
}

/* Cache la scrollbar sur le carrousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-main-admin {
  background-color :var(--bg-main-admin)
}
.bg-navbar-admin {
  background-color :var(--bg-navbar-admin)
}

.card-admin {
  background-color: var(--bg-card-admin);
  border-color: var(--border-card-admin);
}

.card-admin:hover {
  border-color: var(--border-card-admin-hover);
}

.btn-custom-glass {
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-custom-glass:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (min-width: 640px) {
  .btn-custom-glass {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.75rem 1.5rem;
  }
}